name: ECR Pipeline
on:
  push:
    branches:
      - main
permissions:
  id-token: write
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ap-south-1
      REPOSITORY_NAME: expense-tracker
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: arn:aws:iam::130705418859:role/ajeetsingh-ec2-full-access-role
        aws-region: ap-south-1
        audience: sts.amazonaws.com
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2
    - name: Create ECR repository
      run: |
        if ! aws ecr describe-repositories --repository-names $REPOSITORY_NAME --region $AWS_REGION >/dev/null 2>&1; then
          aws ecr create-repository --repository-name $REPOSITORY_NAME --region $AWS_REGION
          echo "Repository $REPOSITORY_NAME created in region $AWS_REGION"
        else
          echo "Repository $REPOSITORY_NAME already exists"
        fi
    - name: Build, tag, and push docker image to Amazon ECR
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        REPOSITORY: rental-car
        IMAGE_TAG: ${{ github.sha }}
      run: |
        echo "Building Docker image..."
        docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
        docker tag $REGISTRY/$REPOSITORY:$IMAGE_TAG $REGISTRY/$REPOSITORY:latest
        echo "Pushing Docker images..."
        docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
        docker push $REGISTRY/$REPOSITORY:latest
    - name: Verify deployment
      run: |
        echo "Deployment successful"
        docker images